Django==4.2.16
gunicorn==21.2.0
whitenoise==6.8.2
dj-database-url==2.1.0
psycopg2-binary==2.9.9
django-allauth==0.58.2
django-crispy-forms==2.1
crispy-bootstrap4==2022.1
stripe==5.4.0
Pillow==10.4.0

